<div id='page_title'>
  <h1>Stack Details</h1>
</div>
<%= render 'shared/stack_info' %>
<%= link_to 'Add Stackers to this Stack', add_stacker_path(@stack) %>
<%= link_to 'Return to Stack Index', stacks_path %>
