<div id='page_title'>
  <h1>Edit this Clue</h1>
<div>

<%= render 'shared/errors', container: @clue %>
<%= render 'form', button_msg: 'Save Changes' %>
<%= link_to 'Cancel', clue_tree_path(@stack) %>
