<div id='page_title'>
  <h1>Create a New Clue</h1>
</div>

<%= render 'shared/errors', container: @clue %>

<%= render 'form', button_msg: 'Create' %>

<%= link_to 'Cancel', clue_tree_path(@stack) %>
